	html, body, #principal {
   		height : 100%;
   		min-height: 100%;
	}

	body {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      background-color: #4A90E2;
  }

	#principal img {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

	.container {
    	width: 950px;
  }

	.seccion1 {
		height: 100%;	
		text-align:center;
		padding: 140px;
		background-color: rgba(255, 255, 255, 0.9)
	}

	.seccion1 img {
		padding: 15px;
	}
	.seccion1 p {
		padding: 15px;
	}
	.seccion2 {
		height: 50%;
		color: white;
	}
	
	.seccion2{
		margin-bottom: 80px;
	}

	.seccion2 h1 {
		color: white;
		font-size: 40px;
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.seccion3 {
		height: 80%;
	}

	.parallax-seccion3 {
		height: 370px;
    background-position:relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/parallax.jpg');
	}

	.seccion4 {
		padding: 15px;
	}

	div.wrapper-img{
		float:left; /* important */  
	  position:relative; /* important(so we can absolutely position the description div */  
	} 

	div.wrapper-img img {
		border-radius: 7px;
	}	

	div.description-img {
		border-bottom-left-radius: 7px;
	  border-bottom-right-radius: 7px;
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    width:100%;  
    /* styling bellow */  
    background-color:white;   
    font-size:18px;  
    color:black;  
    opacity:0.9; /* transparency */   
	}  

	p.description_content{  
	  padding:7px;  
	  margin:0px;  
	}  

	.modal-content {
   	background-color: rgba(0, 0, 0, 0);
  	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  	border: 0px solid rgba(0,0,0,0.0);
  }

  .loginFormModal {
  	padding:30px;
  }
  .formLogin {
  	padding: 20px;
  }

  #alertLogin {
  	text-align: center;
    padding: 10px;
    margin-top: 15px;
  }